<!DOCTYPE html>
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body ng-app="myApp">

  <h3>Loan Calculator</h3>
  <div ng-controller="loanCalculatorCtrl">
    <div class="row">
      <div class="col-sm-6">
        <form id="loanDetails" name="loanDetails" invalidate>
          <label for="amount">Loan Amount </label>
          <input id="amount" ng-model="loan.amount" type="text" ng-required="true">
          <br>
          <label for="emiCount">Total EMI's (In months) </label>
          <input id="emiCount" ng-model="loan.emiCount" type="text" ng-required="true">
          <br>
          <label for="annualInterest">Annual Interest </label>
          <input id="annualInterest" ng-model="loan.AnnInterest" type="text" ng-required="true">
          <br>
          <button ng-disabled="loanDetails.$invalid" ng-click="calculate()">Calculate</button>
          <button ng-click="loan={}">Clear</button>
        </form>
      </div>
      <div class="col-sm-6">
        <view1 showData="showData" loan="loan"></view1>
      </div>
    </div><br>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <view2 showData="showData"></view2>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>


</body>
<script src="app.js"></script>
<script src="view1/view1.js"></script>
<script src="view2/view2.js"></script>
</html>
